<!DOCTYPE html>
<html>
<head>
<title>Get Your Maker Fix!</title>
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="css/detail.css" rel="stylesheet" media="screen">
<link href="css/graph.css" rel="stylesheet" media="screen">
<link href="css/legend.css" rel="stylesheet" media="screen">
<link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery.ui.all.css">

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="http://d3js.org/d3.v2.js"></script>
<script src="js/rickshaw.min.js"></script>
<style>
    body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap-responsive.css" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>
<body>
<!-- this is pure crap visually and interaction wise, it will have to do for now -->
    <div class="container">
        <h1>Genomics Processing Online</h1>
        <a href='jbrowse/index.html?data=sample_data/json/volvox'>
            <h2>Hello JBrowse!</h2>
        </a>
    </div> <!-- /container -->

    <div class="container">
        <h2> Genomes Being Processed</h2>
        <ul>
        {% for genome in genomes %}
            <li><a href='{{url_for('chromosomes', parent=genome)}}'>{{genome}}</a></li>
        {% endfor %}
        </ul>
    </div> <!-- /container -->

    <div class="container">
        <h2>Completed GFF Files</h2>
        <ul>
        {% for gff in gffs %}
            <li><a href='{{url_for('gridview', gff=gff)}}'>{{gff}}</a></li>
        {% endfor %}
        </ul>
    </div>

    <div class="container">
    <h2>Graph and a half</h2>
    <div id="cpu"></div>
    <div id="memory"></div>
    <div id="disk"></div>
    <div id="legend_container">
        <div id="smoother" title="Smoothing"></div>
        <div id="legend"></div>
    </div>
    </div>

    <script>
    var graph = new Rickshaw.Graph( {
        element: document.querySelector("#cpu"),
        width: 300,
        height: 200,
        series: [
        {
            color: 'cornflowerblue',
            data: [
                { x: 0, y: 40 },
                { x: 0.5, y: 44 },
                { x: 1, y: 49 },
                { x: 1.5, y: 53 },
                { x: 2, y: 38 },
                { x: 2.5, y: 38 },
                { x: 3.0, y: 30 },
                { x: 3.5, y: 34 },
                { x: 4, y: 32 },
                { x: 4.5, y: 35 } ],
            name: 'CPU',
        },
        {
            color: 'red',
            data: [
                { x: 0.0, y: 35 },
                { x: 0.5, y: 32 },
                { x: 1.0, y: 34 },
                { x: 1.5, y: 30 },
                { x: 2.0, y: 38 },
                { x: 2.5, y: 38 },
                { x: 3.0, y: 53 },
                { x: 3.5, y: 49 },
                { x: 4.0, y: 40 },
                { x: 4.5, y: 44 } ],
            name: 'Mem',
        }
        ],
        renderer: 'line',
    });
    graph.render();

    var hoverDetail = new Rickshaw.Graph.HoverDetail( {
        graph: graph,
        xFormatter: function(x) { return x + " seconds" },
        yFormatter: function(y) { return y + " percent" },
    } );

    var legend = new Rickshaw.Graph.Legend( {
        graph: graph,
        element: document.getElementById('legend')
    } );

    var shelving = new Rickshaw.Graph.Behavior.Series.Toggle( {
        graph: graph,
        legend: legend
    } );

    var axes = new Rickshaw.Graph.Axis.Time( {
        graph: graph
    } );
    axes.render();

    </script>
</body>
</html>
