<!DOCTYPE html>
<html>
<head>
<title>Get Your Maker Fix!</title>
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="css/detail.css" rel="stylesheet" media="screen">
<link href="css/graph.css" rel="stylesheet" media="screen">
<link href="css/legend.css" rel="stylesheet" media="screen">
<link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery.ui.all.css">

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="http://d3js.org/d3.v2.js"></script>
<script src="js/rickshaw.min.js"></script>
<style>
    body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
    .greyborder {
        border-style: solid;
        border-color: #eeeeee;
        border-width: 1px;
        width: 500px;
        height: 300px;
    }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap-responsive.css" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>
<body>
<!-- this is pure crap visually and interaction wise, it will have to do for now -->
    <div class="container">
        <h1>Genomics Processing Online</h1>
        <a href='jbrowse/index.html?data=sample_data/json/volvox'>
            <h2>Hello JBrowse!</h2>
        </a>
    </div> <!-- /container -->

    <div class="container">
        <h2> Genomes Being Processed</h2>
        <ul>
        {% for genome in genomes %}
            <li><a href='{{url_for('chromosomes', parent=genome)}}'>{{genome}}</a></li>
        {% endfor %}
        </ul>
    </div> <!-- /container -->

    <div class="container">
        <h2>Completed GFF Files</h2>
        <ul>
        {% for gff in gffs %}
            <li><a href='{{url_for('gridview', gff=gff)}}'>{{gff}}</a></li>
        {% endfor %}
        </ul>
    </div>

    <div class="container">
    <h2>CPU</h2>
    <div id="cpu" class='greyborder'></div>
    <div id="cpu-legend"></div>

    <h2>Memory</h2>
    <div id="memory" class='greyborder'></div>
    <div id="memory-legend"></div>

    <h2>Disk</h2>
    <div id="disk" class='greyborder'></div>
    <div id="disk-legend"></div>
    </div>

    <script>
    var palette = new Rickshaw.Color.Palette( { scheme: 'classic9' } );
    var tv = 1000 + 250*Math.random();

    // The names of the workers are needed before the graphs can be constructed
    jQuery.getJSON('/worker_info', function(resp) {

        // This is extremely sad, but I couldn't get encapuslating this to
        // work. If someone wants to tell me the correct way, I would be very
        // appreciative. ~Chas
        cpuNames = [];
        memoryNames = [];
        diskNames = [];
        for (var worker in resp) {
            cpuNames.push({name: worker.split('\.')[0]});
            memoryNames.push({name: worker.split('\.')[0]});
            diskNames.push({name: worker.split('\.')[0]});
        }

        function tsToTime(timestamp) {
            var date = new Date(timestamp*1000);
            var hours = date.getHours();
            // minutes part from the timestamp
            var minutes = date.getMinutes();
            // seconds part from the timestamp
            var seconds = date.getSeconds();
            var formattedTime = hours + ':' + minutes + ':' + seconds;
            return formattedTime
        }

        var cpu = new Rickshaw.Graph( {
            element: document.getElementById('cpu'),
            width: 500,
            height: 300,
            renderer: 'line',
            series: new Rickshaw.Series.FixedDuration(cpuNames, undefined, {
                timeInterval: tv,
                maxDataPoints: 100,
                timeBase: new Date().getTime() / 1000
            }),
        } );
        cpu.render();

        var cpuLegend = new Rickshaw.Graph.Legend({
            graph: cpu,
            element: document.querySelector('#cpu-legend')
        });

        var cpuShelving = new Rickshaw.Graph.Behavior.Series.Toggle({
            graph: cpu,
            legend: cpuLegend
        });

        var cpuOrder = new Rickshaw.Graph.Behavior.Series.Order({
            graph: cpu,
            legend: cpuLegend
        });

        var cpuHoverDetail = new Rickshaw.Graph.HoverDetail( {
            graph: cpu,
            xFormatter: tsToTime,
            yFormatter: function(y) { return y + "%" },
        } );

        var cpuyAxis = new Rickshaw.Graph.Axis.Y({
                graph: cpu
        });

        cpuyAxis.render();

        var cpuxAxis = new Rickshaw.Graph.Axis.Time({
                graph: cpu
        });

        cpuxAxis.render();

        var memory = new Rickshaw.Graph( {
            element: document.getElementById('memory'),
            width: 500,
            height: 300,
            renderer: 'line',
            series: new Rickshaw.Series.FixedDuration(memoryNames, undefined, {
                timeInterval: tv,
                maxDataPoints: 100,
                timeBase: new Date().getTime() / 1000
            }),
        } );
        memory.render();

        var memoryLegend = new Rickshaw.Graph.Legend({
            graph: memory,
            element: document.querySelector('#memory-legend')
        });

        var memoryShelving = new Rickshaw.Graph.Behavior.Series.Toggle({
            graph: memory,
            legend: memoryLegend
        });

        var memoryOrder = new Rickshaw.Graph.Behavior.Series.Order({
            graph: memory,
            legend: memoryLegend
        });

        var memoryHoverDetail = new Rickshaw.Graph.HoverDetail( {
            graph: memory,
            xFormatter: tsToTime,
            yFormatter: function(y) { return y + "%" },
        } );

        var memoryyAxis = new Rickshaw.Graph.Axis.Y({
                graph: memory
        });

        memoryyAxis.render();

        var memoryxAxis = new Rickshaw.Graph.Axis.Time({
                graph: memory
        });

        memoryxAxis.render();

        var disk = new Rickshaw.Graph( {
            element: document.getElementById('disk'),
            width: 500,
            height: 300,
            renderer: 'line',
            series: new Rickshaw.Series.FixedDuration(diskNames, undefined, {
                timeInterval: tv,
                maxDataPoints: 100,
                timeBase: new Date().getTime() / 1000
            }),
        } );
        disk.render();

        var diskLegend = new Rickshaw.Graph.Legend({
            graph: disk,
            element: document.querySelector('#disk-legend')
        });

        var diskShelving = new Rickshaw.Graph.Behavior.Series.Toggle({
            graph: disk,
            legend: diskLegend
        });

        var diskOrder = new Rickshaw.Graph.Behavior.Series.Order({
            graph: disk,
            legend: diskLegend
        });

        var diskHoverDetail = new Rickshaw.Graph.HoverDetail( {
            graph: disk,
            xFormatter: tsToTime,
            yFormatter: function(y) { return y + "%" },
        } );

        var diskyAxis = new Rickshaw.Graph.Axis.Y({
                graph: disk
        });

        diskyAxis.render();

        var diskxAxis = new Rickshaw.Graph.Axis.Time({
                graph: disk
        });

        diskxAxis.render();

        setInterval(function() {
            jQuery.getJSON('/worker_info', function(resp) {
                var cpu_usage = {}
                var memory_usage = {}
                var disk_usage = {}
                for (var worker in resp) {
                    worker_name = worker.split('\.')[0]
                    if (resp[worker]) {
                        if (resp[worker].cpu && resp[worker].cpu['cpu-0']) {
                            cpu_usage[worker_name] = resp[worker].cpu['cpu-0'];
                        }
                        if (resp[worker].memory_usage &&
                            resp[worker].memory_usage.percent) {
                            memory_usage[worker_name] =
                                resp[worker].memory_usage.percent;
                        }

                        if (resp[worker].disk_usage &&
                            resp[worker].disk_usage['/dev/xvda1'] &&
                            resp[worker].disk_usage['/dev/xvda1'].percent) {
                            disk_usage[worker_name] =
                                resp[worker].disk_usage['/dev/xvda1'].percent;
                        }
                    }
                }

                cpu.series.addData(cpu_usage);
                cpu.render();

                memory.series.addData(memory_usage);
                memory.render();

                disk.series.addData(disk_usage);
                disk.render();
            });
        }, tv);

    });
    </script>
</body>
</html>
